/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
.form-control {
    display: block;
    width: 92%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #efefef;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-group {
    display: block;
    margin-bottom: 20px;
}
input.todo-input {
    width: 100%;
    height: 42px;
    position: relative;
    border: 0;
    background: #f5f6fc;
    margin-bottom: 32px;
    padding-left: 20px;
    padding-right: 127px;
}
input.todo-submit {
    position: absolute;
    right: 20px;
    height: 42px;
    padding: 0 20px;
    background-color: #6c81f8;
    color: #fff;
    border: 0;
    font-size: 18px;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
header {
    background: #eee;
    padding: 20px;
}
header h2{
    margin: 0;
}
.mat-dialog-content {
    max-height: 100% !important;
    overflow: hidden !important;
    padding: 0 24px 24px !important;
}
.mat-dialog-container {
    padding: 28px;
}
.mat-dialog-actions {
    justify-content: flex-end;
}